:root{
    --cor-fundo: rgb(58, 143, 5)!important;
    --cor-fundo2: #111!important;
}

body{
    margin: 0px;
}

header{
    display: inline-block;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: var(--cor-fundo);
}

footer{
    
    background-color: var(--cor-fundo2);
}

li{
    display: inline-block!important;
    list-style-type: none!important;
    list-style: none!important;
    position: relative!important;
    top: 25px!important;
    
}


li a{
    text-transform: uppercase!important;
    text-decoration: none!important;
    font-size: 18px!important;

    padding: 0px 20px!important;
    margin-top: 50px!important;

}

/*Main*/




.cx-teste{
    margin-top: 100px;
    width: 100vw;
    height: 30vh;
    background-color: aqua;
    background-image: url("../imagens/clientes.jpg");
}


.img1,.img2,.img3,.img4, .fundo-about-us {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    


}


.about-main{
    
    background-image: url("../imagens/clientes.jpg");
}

.img1{
    background-image: url("../imagens/landscape1.jpg");
}

.img2{
    background-image: url("../imagens/landscape2.jpg");
}

.img3{
    background-image: url("../imagens/landscape3.jpg");
}

.img4{
    background-image: url("../imagens/landscape4.jpg");
}

.fundo-about-us{
    background-image: url("../imagens/landscape3.jpg");
    
}

.cx-main{
    background-color: rgba(255, 255, 255, 0.4);
    
    
    position: relative;
    top: 20%;
}
/*Main*/


/*Personalização de Texto*/

.t2{
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.p{
    font-size: 12px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-footer{
    font-size: 12px;  
    color: white;
    margin: 0px;
}

/*Personalização de Texto*/


.btn-footer{
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s;
    background-color: rgb(58, 143, 5);
    margin: 10px;
    width: 200px;
}

.btn-footer:hover{
    transition: background-color 0.5s;
    background-color: rgb(33, 80, 4);   
}

#logo-footer{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#logo{

    height:6vw!important;
    min-width:219.5px ;
    min-height: 59.4px;
    max-width: 300.13px;
    max-height: 81.35px;
    position: relative!important;
    top: -30px!important;
}



/*Hamburguer*/

.navbar-toggler-icon{

    border: none;
    background-image: url("/imagens/hamburger-inativo.png");
    transition: background-image 1s!important;
    font-size: 30px;
      
}


.navbar-toggler-icon:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover{
 
    background-image: url("/imagens/hamburger-ativo.png");
    transition: background-image 0.3s!important;
   
}


.navbar-toggler{
    position: relative;
    right: -30px;
    top: 5px;

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    
    outline: none;
    box-shadow: none;
    border: none;
 }

/*Hamburguer*/



.nav-link{
    color: white!important;
}

.nav-link:hover{
    transition: transform 0.5s!important;
    transition: color 0.2s!important;

    transform: scale(1.05)!important;
    color: aquamarine!important;
    
}

/*Icones Redes Sociais footer*/

.icon{
    max-width: 30px!important;
    width: 8vh!important;
    margin: 0px 7px;
    transition: transform 0.5s;
    transform: scale(1.0);
}

/*Icones Redes Sociais footer*/


/*Footer*/

.pwrd-by{
    color: rgb(104, 104, 104);
}

.reclamacao:hover{
    color: rgb(255, 255, 255);
}


.cx-powerby{
    border-top: 1px solid rgb(32, 32, 32);
}


.icon-tn{
    max-width: 10vh!important;
    width: 8vh!important;
}

.icon:hover{
    transition: transform 0.5s; 
    transform: scale(1.1);

}

/*Footer*/




/*MEDIA QUERYS*/


@media (max-width: 991px) {
    
    #logo{
        margin-top: 5px;
        left: 25px;
        top: 0px!important;
    }

    li{ 
        top: 0px!important;    
    }
    
    li a{
        padding: 0px 0px!important;
        margin-top: 25px!important;
        text-align: end;
    }

    .nav-link:hover{
        transition: transform 0.5s!important;
        transition: color 0.2s!important;
    
        transform: scale(1)!important;
        color: aquamarine!important; 
    }
    
  
    
}

/*MEDIA QUERYS*/
