:root{
    --cor-fundo: rgb(37, 134, 54)!important;
    --cor-fundo2: #111!important;

    --cor-t1: #013705!important;
    --cor-t2: #2ba81f!important;
    
    --titulo1: 'Roboto' !important;
    --titulo2: 'Caveat Brush' !important;
    --texto: 'Fira Sans' !important;

}

html {
    scroll-behavior: smooth;
    
}


body{
    margin: 0px;
}
main{
    max-width: 1380px;
    margin: auto;
}

.t1-carrousel{
    font-family: var(--titulo1);
    font-size: 42px;
}

.t1{
    font-family: var(--titulo1);
    font-size: 42px;
    color: var(--cor-t1);
}

span{
    color: var(--cor-t2);
    
    
}

.span1{
    font-size: 25px;
}

.t2{
    font-family: var(--titulo2);
    font-size: 35px !important;
    color: black !important;
}

.texto{
    font-family: var(--texto);
    color: #757F95;
    text-align: justify;
}

.carousel-caption{

    text-align: start;
    position: absolute;
    top: 140px;
    left: 50px;
 
}

.cx-carousel{
    
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.4);
}


.carousel-control-prev,
    .carousel-control-next {
        width: 50px; /* Defina a largura dos botões */
        height: 50px; /* Defina a altura dos botões */
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo dos botões */
        top: auto; /* Remova o valor padrão para permitir o posicionamento no fundo */
        bottom: 0; /* Alinhe os botões ao fundo do carrossel */
        z-index: 1; /* Garante que os botões estejam acima das imagens */
    }

    .carousel-control-prev {
        left: 75vw; /* Remove o alinhamento padrão à esquerda */
        right: auto; /* Alinha o botão "Previous" à direita */
    }

    .carousel-control-next {
        left: 85vw; /* Alinha o botão "Next" à esquerda, deixando um espaço de 50px para o botão "Previous" */
        right: auto;
    }


   

.cx-header{
    display: inline-block;
    width: 100%;
    padding: 10px;
    position: fixed;
    z-index: 10;
    background: rgb(17,17,17);
    background: linear-gradient(180deg, rgba(17,17,17,1) 0%, rgba(59,121,9,1) 53%, rgba(24, 155, 9,0.7) 100%); 
}

.cx-carousel{
    max-width: 1380px !important;
}

#carousel{
    background-color: #111;
}

.card-categoria{

    border-radius: 15px;
    background-color: rgb(22, 22, 22);
    box-shadow: 2px 2px 15px 3px rgba(0, 75, 6, 0.3);
    height: 350px;
    max-width: 300px;
    min-width: 300px;
    
}

.card-categoria h6{
    color: white;
    font-family: var(--texto);
    font-weight: bolder;
}



footer{
    
    background-color: var(--cor-fundo2);
}

li{
    display: inline-block!important;
    list-style-type: none!important;
    list-style: none!important;
    position: relative!important;
    top: 25px!important;
    
}


li a{
    text-transform: uppercase!important;
    text-decoration: none!important;
    font-size: 18px!important;

    padding: 0px 20px!important;
    margin-top: 50px!important;

}


/*Main*/



/*DIV DO EMAIL*/
.div-email{
    
    background-image: url("../imagens/brincanatura-insuflaveis.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

}

.cx-email{
    background-color: rgba(0, 0, 0, 0.3);
    height: 300px;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    color: white;
 
}
.btn-email{
    border-radius: 50px;
    padding: 10px 15px;
    outline: none;
    border: none;
    box-shadow: 2px 2px 15px 3px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
    transition: background-color .25s;
}

.btn-email:hover{
    background-color: rgb(37, 223, 77);
    transition: background-color .25s;
}
/*DIV DO EMAIL*/



.img1,.img2,.img3,.img4, .fundo-about-us {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
    


}


.about-main{
    
    background-image: url("../imagens/clientes.jpg");
}

.img1{
    background-image: url("../imagens/landscape1.jpg");
}

.img2{
    background-image: url("../imagens/landscape2.jpg");
}

.img3{
    background-image: url("../imagens/landscape3.jpg");
}

.img4{
    background-image: url("../imagens/landscape4.jpg");
}

.fundo-about-us{
    background-image: url("../imagens/landscape3.jpg");
    
}

.cx-main{
    padding-top: 130px !important;
    
}

.cx-fundo-aboutus{
    background-color: rgba(255, 255, 255, 0.4);
}

.cx-about-us{
    background-color: rgba(124, 194, 106, 0.082);
    box-shadow: 0px 0px 45px 15px rgba(0, 0, 0, 0.144);
    
}


/*Main*/
.service-item {
    transform: translateY(0px);
    transition: transform 1s;
  }

.service-item:hover {
    transform: translateY(-20px);
    transition: transform 2s;
    cursor: pointer;
  }


/*Personalização de Texto*/

.t2{
    font-size: 13px;
    color: white;
    font-weight: bold;
}

.p{
    font-size: 12px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.txt-footer{
    font-size: 12px; 
    font-family: var(--texto); 
    color: white;
    margin: 0px;
    font-weight: bold;
}

/*Personalização de Texto*/


.btn-footer{
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.5s;
    background-color: var(--cor-fundo);
    margin: 10px;
    width: 200px;
}

.btn-footer:hover{
    transition: background-color 0.5s;
    background-color: rgb(50, 114, 11);   
}

#logo-footer{
    width: 200px;
    min-width: 200px;
    max-width: 200px;
}

#logo{

    height:6vw!important;
    min-height: 40px;
    max-height: 81.35px;
    position: relative!important;
    top: -30px!important;
}
/*Cards Atividades*/
.card-servicos{
    
    width: 220px;
    height: 110px;
    
    
}

hr{
    margin: auto;
    border: 2px solid rgb(84, 185, 33);
    border-radius: 15px;
    width: 200px;

}


/*Circulos Atividades*/

.img-quemsomos{
    width: 60vw !important;
    min-width:250px !important;
    max-width: 400px !important;
    box-shadow: 2px 2px 5px 1px ;
    
}


/*Hamburguer*/

.navbar-toggler-icon{

    border: none;
    background-image: url("../imagens/hamburger-inativo.png");
    transition: background-image 1s!important;
    font-size: 25px;
      
}


.navbar-toggler-icon:active,
.navbar-toggler-icon:focus,
.navbar-toggler-icon:hover{
 
    background-image: url("../imagens/hamburger-ativo.png");
    transition: background-image 0.3s!important;
   
}


.navbar-toggler{
    position: relative;
    right: -30px;
    top: 5px;

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    
    outline: none;
    box-shadow: none;
    border: none;
 }



.navbar-collapse{

    background-color: rgba(255, 255, 255, 0.61);
    
}

#navbarNav{
    width: 100vw;
 
}

.nav-link{
    position: relative;
    top: -125px;
    color: white;
    }

.nav-link:hover{
    transition: transform 0.5s!important;
    transition: color 0.2s!important;

    transform: scale(1.05)!important;
    color: aquamarine!important;
    
}


/*Hamburguer*/

.nav-item{
    border: 1px solid red;
    

}



/*Icones Redes Sociais footer*/

.icon{
    max-width: 30px!important;
    width: 8vh!important;
    margin: 0px 7px;
    transition: transform 0.5s;
    transform: scale(1.0);
}

/*Icones Redes Sociais footer*/


/*Footer*/

.pwrd-by{
    color: rgb(104, 104, 104);
}

.reclamacao:hover{
    color: rgb(255, 255, 255);
}


.cx-powerby{
    border-top: 1px solid rgb(32, 32, 32);
}


.icon-tn{
    max-width: 5vh!important;
    width: 5vh!important;
}

.icon:hover{
    transition: transform 0.5s; 
    transform: scale(1.1);

}

/*Footer*/




/*MEDIA QUERYS*/


@media (max-width: 991px) {
    
    #logo{
        margin-top: 5px;
        left: 25px;
        top: 0px!important;
        
    }

    li{ 
        top: 0px!important;    
    }
    
    li a{
        padding: 0px 0px!important;
        margin-top: 25px!important;
        text-align: end;
    }

    .nav-link:hover{
        transition: transform 0.5s!important;
        transition: color 0.2s!important;
    
        transform: scale(1)!important;
        color: aquamarine!important; 
    }
    
    .icon-tn{
        max-width: 5vh!important;
        width: 5vh!important;
    }

    .nav-link{
        position: relative;
        top: -15px;
        color: white;
        right: 40px;
        }
  
    .service-item:hover {
        transform: translateY(-10px);
        
        }
}

/*MEDIA QUERYS*/
